<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Subjects</title>
</head>
<body>
    <h2>Select your subjects:</h2>
    <form method="POST">
        <label for="selected_subjects">Choose subjects:</label>
        <select name="selected_subjects" id="selected_subjects" multiple>
            {% for subject in subjects %}
                <option value="{{ subject }}">{{ subject }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
